numpy
pandas
scipy
GPy

# 多重対応分析の可視化で利用
matplotlib
japanize-matplotlib

# Correction of notational errors
neologdn

# From text to sentences
ja-sentence-segmenter

# From sentence to words
mecab-python3
mecabpr

# Deleting Emoji
emoji

# LexRank model
sumy
tinysegmenter

# FastAPI
uvicorn
fastapi