numpy
pandas
scipy
GPy
scikit-learn

# 多重対応分析の可視化で利用
matplotlib
japanize-matplotlib

# Correction of notational errors
neologdn

# From text to sentences
ja-sentence-segmenter

# From sentence to words
mecab-python3
mecabpr

# Deleting Emoji
# アップデートで絵文字が削除できなくなったので，バージョン下げてます
# https://twitter.com/ktr_wtb/status/1370283973373390850
emoji==0.5.4

# LexRank model
sumy
tinysegmenter

# FastAPI
uvicorn
fastapi
